@charset "utf-8";

// ==========================================================================
// Foundation
// ==========================================================================
@use "foundation/mixin";
@use "foundation/variable" with (
  $color-basebg         : #F5F5F5,
  $color-basefont       : #333333,
  $color-tableborder    : #A2A2A2,
  $color-inputbg        : white,
  $color-inputborder    : #A2A2A2,
  $color-btnbg          : #D3D3D3,
  $color-btnfont        : gray,
  $color-weekend        : #FF0000,
  $color-thbg           : #F0F0F0,
  $color-red            : #FF0000,
  $color-yellow         : #FFFF00,
  $color-gray           : #D3D3D3,
  $color-darkgray       : #333333
);
@use "foundation/base";


// ==========================================================================
// Layout
// ==========================================================================


// ==========================================================================
// Object
// ==========================================================================
// ---------------------------------------
// Component
// ---------------------------------------


// ---------------------------------------
// Project
// ---------------------------------------
@use "object/project/tasklist";
@use "object/project/createtask";
@use "object/project/settings";


// ---------------------------------------
// Utility
// ---------------------------------------
@use "object/utility/color";


