@charset "utf-8";

// ==========================================================================
// Foundation
// ==========================================================================
@use "foundation/mixin";
@use "foundation/variable" with (
  $color-basebg         : #f5f5f5,
  $color-basefont       : black,
  $color-red            : red,
  $color-yellow         : yellow,
  $color-gray           : #9e9e9e,
  $color-darkgray       : #cccccc
);
@use "foundation/base";


// ==========================================================================
// Layout
// ==========================================================================


// ==========================================================================
// Object
// ==========================================================================
// ---------------------------------------
// Component
// ---------------------------------------


// ---------------------------------------
// Project
// ---------------------------------------
@use "object/project/tasklist";
@use "object/project/createtask";
@use "object/project/settings";


// ---------------------------------------
// Utility
// ---------------------------------------
@use "object/utility/color";


