@use "../../foundation/variable";

.u-fontcolor-weekend {
  color: variable.$color-weekend;
}

.u-bgcolor-gray {
  background: variable.$color-gray;
  color: variable.$color-darkgray;
}

.u-bgcolor-red {
  background: variable.$color-red;
  color: variable.$color-darkgray;
}

.u-bgcolor-yellow {
  background: variable.$color-yellow;
  color: variable.$color-darkgray;
}


