@use "../../foundation/mixin";
@use "../../foundation/variable";

.p-createtask {
  @include mixin.dbg-border(red, 2, 0);
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 5px 10px 0;
  border-collapse: collapse;

  &__label {
    @include mixin.dbg-border(blue, 2, 0);
    font-size: 16px;
    font-weight: bold;
  }

  &__input {
    @include mixin.dbg-border(yellow, 2, 0);
    margin: 5px 0 10px;
    padding: 3px;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid 1px variable.$color-inputborder;
    background: variable.$color-inputbg;
  }

  &__calendar-ctrl {
    @include mixin.dbg-border(green, 1, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px;

    &__btns {
      display: flex;

      button {
        @include mixin.dbg-border(lightgreen, 1, 0);
        height: 20px;
        padding: 0 5px;
        margin-left: 6px;
        border-radius: 5px;
        background: variable.$color-btnbg;
        color: variable.$color-btnfont;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }

  &__calendar {
    @include mixin.dbg-border(red, 2, 0);
    margin: 3px 0 5px;
    border-collapse: collapse;
    background: variable.$color-tablebg;
    font-size: 15px;

    th, td {
      height: 23px;
      border: solid 1px variable.$color-tableborder;
    }

    th {
      background: variable.$color-thbg;
    }

    td {
      text-align: center;
    }
  }

  &__today {
    text-align: center;
    font-size: 14px;
  }
}

