@use "../../foundation/mixin";
@use "../../foundation/variable";

.p-tasklist {
  white-space: nowrap; // セルの改行禁止
  border-collapse: separate;
  border-spacing: 0;
  font-size: 15px;

  th, td {
    padding: 0 6px;
    border-bottom: solid 1px variable.$color-tableborder;
    border-left: solid 1px variable.$color-tableborder;

    &:nth-of-type(1) {
      border-left: none;
    }
  }

  th {
    position: sticky; // ヘッダーの固定
    top: 0;           // ヘッダー固定位置の設定
    z-index: 1;       // ヘッダーフロート
    height: 20px;
    background: variable.$color-thbg;

    &:nth-of-type(2) {
      text-align: left;
    }
  }

  td {
    height: 24px;

    &:not(:nth-of-type(2)) {
      text-align: center;
    }
  }

}

