@use "../../foundation/mixin";
@use "../../foundation/variable";

.p-tasklist {
  border-collapse: collapse;
  font-size: 15px;

  th, td {
    padding: 0 6px;
    border: solid 1px black;
  }

  th {
    height: 20px;
    background: variable.$color-darkgray;

    &:nth-of-type(2) {
      text-align: left;
    }
  }

  td {
    height: 24px;

    &:not(:nth-of-type(2)) {
      text-align: center;
    }
  }

}

